.homepage {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage__learnToday {
  width: 408px;
  min-height: 61px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "inter";
  font-weight: 400;
  text-align: start;
  font-size: 24px;
  line-height: 29px;
  border-radius: 16px;
  background-color: #D9D9D9;
  box-sizing: border-box;
}

.homepage__logo {
  margin: 210px 16px 16px auto;
  align-self: flex-end;
}