@use '../../utils/vars';

.homePageLessons__container {
  @include vars.flexible(column, center);
  width: 408px;
  min-height: 107px;
  border-radius: 16px;
  background-color: vars.$primary-color;
  box-sizing: border-box;
}

.homePageLessons__title {
  @include vars.font(20px, 24px);
  margin: 16px auto auto auto;
  width: 100%;
  padding-left: 16px;
  text-align: start;
  box-sizing: border-box;
}

.homePageLessons__list {
  width: 350px;
  height: max-content;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  list-style-type: none;
}