@use '../../utils/vars';

.homePageProgressBar__container {
  width: 138px;
  height: 25px;
  background-color: vars.$text-color-white;
  border-radius: 16px;
  position: relative;
}

.homePageProgressBar__complete {
  height: 25px;
  min-width: 30px;
  margin-left: -1px;
  background-color: vars.$service-color;
  transition: width 0.5s ease-in-out;
  border-radius: 16px;
}

.homePageProgressBar__percentage {
  @include vars.font(11px, 13px);
  position: absolute;
  margin: 0;
  bottom: 6px;
  right: 6px;
  text-align: start;
}