.homePageProgressBar__container {
  width: 138px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  position: relative;
}

.homePageProgressBar__complete {
  height: 25px;
  min-width: 30px;
  margin-left: -1px;
  background-color: rgb(103, 122, 76);
  transition: width 0.5s ease-in-out;
  border-radius: 16px;
}

.homePageProgressBar__percentage {
  position: absolute;
  margin: 0;
  bottom: 6px;
  right: 6px;
  font-family: "inter";
  font-weight: 400;
  text-align: start;
  font-size: 11px;
  line-height: 13px;
}