@use '../../utils/vars';

.homePageProfile__container {
  @include vars.flexible(row, center);
  width: 408px;
  min-height: 107px;
  border-radius: 16px;
  background-color: vars.$primary-color;
  box-sizing: border-box;
}

.homePageProfile__avatar {
  margin: auto 10px auto 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-color: vars.$secondary-color;
}

.homePageProfile__greeting {
  @include vars.font(24px, 29px);
  width: 291px;
  margin: auto auto auto 0;
  text-align: start;
}