.homePageProfile__container {
  width: 408px;
  min-height: 107px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  border-radius: 16px;
  background-color: #D9D9D9;
  box-sizing: border-box;
}

.homePageProfile__avatar {
  margin: auto 10px auto 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-color: #447C9B;
}

.homePageProfile__greeting {
  width: 291px;
  margin: auto auto auto 0;
  font-family: "inter";
  font-weight: 400;
  text-align: start;
  font-size: 24px;
  line-height: 29px;
}