.registerPage {
  width: 408px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 16px;
}

.registerPage__greetings {
  width: 100%;
  height: 29px;
  margin: 16px 0 40px;
  font-family: "inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: rgba(10, 7, 23, 1);
}

.registerPage__inputsWrapper {
  padding: 0;
  margin: 0 0;
  border: none;
}

.registerPage__inputModule {
  width: 100%;
  min-height: 100px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}

.registerPage__label {
  width: 100%;
  min-height: 12px;
  margin: 0 0;
  font-family: "inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* text-align: start; */
}

.registerPage__input {
  width: 100%;
  height: 46px;
  padding: 15px;
  margin: 0 0 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #D9D9D9;
  border-bottom: 2px solid rgba(10, 7, 23, 1);
  color: rgba(10, 7, 23, 1);
  outline: none;
}

.registerPage__errorSpan {
  color: rgba(139, 48, 55, 0.96);
}

.registerPage__submitButton {
  width: 40%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  margin: 0 auto 16px;
  border-radius: 16px;
  border: none;
  font-family: "inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #D9D9D9;
  background-color: #447C9B;
  box-sizing: border-box;
}

.registerPage__submitButton:hover {
  background-color: #558199;
}

.registerPage__signinWrapper {
  width: fit-content;
  margin-bottom: 16px;
}

.registerPage__text {
  width: fit-content;
  height: 17px;
  margin: 0;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

.registerPage__link {
  width: fit-content;
  text-decoration: none;
  height: 17px;
  margin: 10px 0 0 0;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #447C9B;
}

.registerPage__link:hover {
  color: #558199;
}