@use '../../utils/vars';

.registerPage {
  @include vars.flexible(column, center);
  width: 408px;
  height: max-content;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 16px;
}

.registerPage__greetings {
  @include vars.font(32px, 32px);
  width: 100%;
  height: 29px;
  margin: 16px 0 40px;
  color: vars.$text-color-black;
}

.registerPage__inputsWrapper {
  padding: 0;
  margin: 0 0;
  border: none;
}

.registerPage__inputModule {
  width: 100%;
  min-height: 100px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}

.registerPage__label {
  @include vars.font(20px, 24px);
  width: 100%;
  min-height: 12px;
  margin: 0 0;
}

.registerPage__input {
  @include vars.font(20px, 24px);
  width: 100%;
  height: 46px;
  padding: 15px;
  margin: 0 0 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: vars.$primary-color;
  border-bottom: 2px solid vars.$text-color-black;
  color: vars.$text-color-black;
  outline: none;
}

.registerPage__errorSpan {
  color: vars.$text-error;
}

.registerPage__submitButton {
  @include vars.font(20px, 24px);
  width: 40%;
  height: 45px;
  padding: 0;
  cursor: pointer;
  margin: 0 auto 16px;
  border-radius: 16px;
  border: none;
  color: vars.$primary-color;
  background-color: vars.$secondary-color;
  box-sizing: border-box;
}

.registerPage__submitButton:hover {
  background-color: vars.$secondary-color;
}

.registerPage__signinWrapper {
  width: fit-content;
  margin-bottom: 16px;
}

.registerPage__text {
  @include vars.font(14px, 17px);
  width: fit-content;
  height: 17px;
  margin: 0;
  color: #A0A0A0;
}

.registerPage__link {
  @include vars.font(14px, 17px);
  width: fit-content;
  text-decoration: none;
  height: 17px;
  margin: 10px 0 0 0;
  color: vars.$secondary-color;
}

.registerPage__link:hover {
  color: vars.$secondary-color;
}